<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".QadbInputMethodService"
            android:exported="true"
            android:label="@string/ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/input_method" />
        </service>

        <receiver
            android:name=".InputCommitReceiver"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.ludoven.qadb.agentime.COMMIT_TEXT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".InputTestActivity"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.ludoven.qadb.agentime.TEST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
